<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="SqlConnection"
			 connectionString="Server=34.136.110.154;Database=proyectonube;User Id=sqlserver;Password=proyectonube321;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>